.home__container {
    row-gap: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



.home__social {
    margin-top: var(--mb-2);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark);
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-2);
}

.home__img {
    background: url(../../assets/lucas-foto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
    border-radius: 50%;
    justify-self: end; /* Posiciona a imagem à direita */
    align-self: flex-start; /* Alinha a imagem um pouco mais para cima */
}

.home__scroll {
    display: flex;
    justify-content: center;
    margin-top: var(--mb-3);
}

.home__scroll-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--title-color);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.home__scroll-name {
    font-weight: bold;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

.button__icon {
    transition: transform 0.2s ease;
}

.button:hover .button__icon {
    transform: translate(10%, -10%);
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

/* Media Queries */

@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 1fr;
        column-gap: 1.25rem;
        text-align: center;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 0;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__data {
        align-items: center;
        text-align: center; /* Centraliza o conteúdo dentro de .home__data */
    }

    .home__social {
        margin-top: var(--mb-1);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
        align-self: flex-start; /* Alinha a imagem acima do título */
        margin-bottom: 1rem; /* Adiciona espaço entre a imagem e o título */
        justify-self: center; /* Centraliza a imagem */
    }

    .home__subtitle::before {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 1fr;
        padding: 3.5rem;
    }

    .home__img {
        order: -1; /* Coloca a imagem acima de .home__data */
        justify-self: center; /* Centraliza a imagem */
        align-self: initial; /* Alinha a imagem acima do título */
        box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
        width: 250px;
        height: 250px;
        margin-bottom: 1rem; /* Espaço entre a imagem e o título */
    }

    .home__data {
        grid-column: 1/2;
        text-align: center;
        margin-top: 1.5rem; /* Espaçamento entre a imagem e .home__data */
    }

    .home__scroll {
        display: none; /* Esconde o elemento de rolagem */
    }

    .home__subtitle::before {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .home__img {
        order: -1; /* Coloca a imagem acima de .home__data */
        justify-self: center; /* Centraliza a imagem */
        align-self: initial; /* Alinha a imagem acima do título */
        box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
        width: 250px;
        height: 250px;
        margin-bottom: 1rem; /* Espaço entre a imagem e o título */
    }

    .home__title {
        margin-bottom: var(--mb-1); /* Espaçamento inferior do título */
    }

    .home__subtitle::before {
        display: none;
    }
}




